body{
	background: #000 !important;
	color: #e9ecef !important;
}
/*********
**********************************
**********************************
导航栏
**********************************
**********************************
*********/
.main_menu {
	border-bottom: 1px solid #222222 !important;
}
.main_menu .navbar .nav .nav-item .nav-link{
	color: #e9ecef !important;
}
.main_menu .navbar .nav .nav-item.submenu ul{
	background: #222222 !important;
}
.main_menu .navbar{
	background: #000000 !important; 
}
.ctlyt-logo{
	color: #e9ecef !important;
}
.main_menu .navbar .nav .nav-item .nav-link{
	color: #e9ecef !important;
}
.navbar-light .navbar-brand{
	color: #e9ecef !important;
}
.navbar-toggler span {
	background: #e9ecef !important;
}

/* 音乐插件 */
.aplayer .aplayer-list ol li.aplayer-list-light{
	background: #777777 !important;
}
/* 搜索 */
.form-control{
	margin-top: 2px !important;
    background-color: #333333 !important;
    border: 1px solid #222222 !important;
    line-height: 46px !important;
	color: #e9ecef !important;
}
.btn-default{
	margin-top: 3px !important;
    height: 35px !important;
    background-color: #777777 !important;
}
/*********
**********************************
**********************************
banner
**********************************
**********************************
*********/
.banner_area {
	background-color: #222222 !important; 
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.home_banner_area{
	background-color: #222222 !important; 
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.banner_area .banner_inner .banner_content {
	background: #000000 !important;
	color: #e9ecef !important;
}

/* 标题  */
.banner_area .banner_inner .banner_content h2{
	color: #e9ecef !important;
}
/* 连接  */
.banner_area .banner_inner .banner_content .page_link a{
	color: #e9ecef !important;
}
/*********
**********************************
**********************************
卡片样式
**********************************
**********************************
*********/
.blog_text .cat a{
	color: #EEEEEE !important;
}
.blog_text .cat a i{
	color: #EEEEEE !important;
	padding-right: 10px;
}
.blog_text{
	background: #222222 !important; 
}
.blog_text h4{
	color: #FFFFFF !important;
}
.blog_img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
/*
卡片样式
*/
.blog_style1 .blog_text .blog_text_inner{
	background: #333333 !important; 
}
/*
按钮样式
*/
.blog_style1 .blog_text .blog_text_inner .cat .cat_btn{
	border: 1px solid #6c757d !important;
	background: #777 !important;
}
/*
按钮样式
*/
.blog_btn{
	border: 1px solid #212529 !important;
	background: #7c7c7c !important;
}
/*
文章内容
*/
.blog_style1 .blog_text .blog_text_inner p{
	color: #dee2e6 !important;
}
.blog_style1 .blog_text .blog_text_inner h4{
	color: #FFFFFF !important;
}
/*********
**********************************
**********************************
右边样式
**********************************
**********************************
*********/
.blog_right_sidebar{
	border: 1px solid #212529 !important;
    background: #222222 !important;
}
.blog_right_sidebar .author_widget h4{
	color: #EEEEEE !important;
}
.blog_right_sidebar .author_widget .social_icon a {
	color: #EEEEEE !important;
}
/* 标题 */
.blog_right_sidebar .widget_title{
	color: #e9ecef !important;
}
/* 标题内容 */
.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
	color: #e9ecef !important;
}
.blog_right_sidebar .post_category_widget .cat-list li a{
	color: #eeeeee !important;
}
.main_menu{
	direction: none;
}
.ctlyt-menu li >a{
	color: #eeeeee !important;
}
/*********
**********************************
**********************************
文章内容
**********************************
**********************************
*********/
blockquote{
	background-color: #222222 !important;
}

.main_blog_details h4 {
	color: #EEEEEE !important;
}
/*********
**********************************
**********************************
评论
**********************************
**********************************
*********/

.comment-form {
   	background-color: #222222 !important;
}
.halo-comment .comment-content {
	color: #eeeeee !important;
}
/*********
**********************************
**********************************
音乐插件
**********************************
**********************************
*********/
.aplayer{
	background-color: #000000 !important;
}
.aplayer.aplayer-withlist .aplayer-list{
	background-color: #222222 !important;
}
.aplayer.aplayer-withlist .aplayer-info {
    border-bottom: none !important;
}
.aplayer .aplayer-list ol li :hover{
	background-color: #888888 !important;
}