body{
	background: #000 !important;
	color: #e9ecef !important;
}
/*********
**********************************
**********************************
导航栏
**********************************
**********************************
*********/
.main_menu .navbar .nav .nav-item .nav-link{
	color: #e9ecef !important;
}
.main_menu .navbar{
	background: #000000 !important; 
}
.ctlyt-logo{
	color: #e9ecef !important;
}

/*********
**********************************
**********************************
banner
**********************************
**********************************
*********/
.banner_area {
	background-color: #343a40 !important; 
}
.banner_area .banner_inner .banner_content {
	background: #212529 !important;
	color: #e9ecef !important;
}
/* 标题  */
.banner_area .banner_inner .banner_content h2{
	color: #e9ecef !important;
}
/*********
**********************************
**********************************
卡片样式
**********************************
**********************************
*********/
.blog_text{
	background: #343a40 !important; 
}
/*
卡片样式
*/
.blog_style1 .blog_text .blog_text_inner{
	background: #495057 !important; 
}
/*
按钮样式
*/
.blog_style1 .blog_text .blog_text_inner .cat .cat_btn{
	border: 1px solid #6c757d !important;
	background: #777 !important;
}
/*
按钮样式
*/
.blog_btn{
	border: 1px solid #212529 !important;
	background: #6c757d !important;
}
/*
文章内容
*/
.blog_style1 .blog_text .blog_text_inner p{
	color: #dee2e6 !important;
}
.blog_style1 .blog_text .blog_text_inner h4{
	color: #FFFFFF !important;
}